  .gallery-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .gallery {
    display: flex;
    transition: transform 0.3s ease;
  }

  img {
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 800px) {
    .gallery-container {
      margin: 0 auto;
    }
    img {
      max-width: 350px;
      height: 818px;
    }
  }

  
  /* СТРЕЛКИ */
  .prev, .next {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    width: 10%;
    height: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    color: white;
    opacity: 1;
    user-select: none;
    z-index: 1;
  }

  

  .prev > img,
  .next > img {
    width: 20px;
    filter: drop-shadow(0px 0px 14px #191d1e);
  }

  .prev {
    left: 29px;
    align-items: flex-start;
  }

  .next {
    right: 29px;
    align-items: flex-end;
  }

  @media screen and (max-width: 800px) {
    .prev, .next {
      width: 23%;
    }
  }


  /* ТОЧКИ */
  .dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    filter: drop-shadow(0px 0px 15px #000000);
    
  }

  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #bbb;
    opacity: .6;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    .dots-container {
      bottom: 5px;
    }
    .dot {
      width: 12px;
      height: 12px;
    }
  }

  .active {
    background-color: #bbb;
    opacity: 1;
  }
