.gallery-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.gallery {
  height: 650px;
  background-size: cover; 
  background-position: center;
}

.prev, .next {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
  opacity: .6;
  user-select: none;
  z-index: 1;
  width: 10%;
  height: 100%;
}

.prev-next {
  top: 50%;
}

.prev {
  left: 0;
  align-items: flex-start;
}

.next {
  right: 0;
  align-items: flex-end;
}

.dots-container {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #717171;
}
